.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form-signin .form-control {
    padding: 10px;
    margin: 5px;
}


.container {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    gap: 2px;

}

.cell {
    width: 30px;
    height: 30px;
    background-color: blue;
}

.battleField {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

#human .cell[data-ship='1'] {
    background-color: red;
}

.cell[data-ship='2'] {
    background-color: orange;

}

.cell[data-ship='3'] {
    background-color: black;

}

.fieldSignHuman {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.fieldSignComp {
    font-size: 20px;
    font-weight: bold;
    color: red;
}