.container {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    gap: 2px;

}

.cell {
    width: 30px;
    height: 30px;
    background-color: blue;
}

.battleField {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

#human .cell[data-ship='1'] {
    background-color: red;
}

.cell[data-ship='2'] {
    background-color: orange;
   
}

.cell[data-ship='3'] {
    background-color: black;
   
}